html, body{
    cursor:none;
    font-family: sans-serif;
    background-color: royalblue;
}
.cursor{
    animation: move 1s infinite alternate;
    transition: width .3s, heigth .3s;
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 25%;
}
header img{
    width: 20%;
    height: 20%;
}
header{
    text-align: center;
}
.img{
    width: 30%;
}
.a{
  text-align:center;  
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:grey;
}
td:first-child{
    background-color: aqua;
}
td{
    padding: 10px;
    border:3px dotted darkblue ;
    background-color: rgb(65, 65, 255);
}
